<mat-card>
    <mat-action-list>
      <div mat-subheader>Menú</div>
      <div *ngFor="let presentation of alluser" class="user col-2" (click)="goToChat(presentation.userName)">
        <div *ngIf="presentation.userName != check">
          {{presentation.userName}}
        </div>
      </div>
      <button mat-list-item routerLink = "/user-dasboard_cli/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon>Perfil
      </button>
      <!-- SubMenu -->
      <button [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>Carrito de Compras
      </button>
      <mat-menu #menu="matMenu">
        <button routerLink="/user-dasboard_cli/home-card" mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Catalogo</span>
        </button>
        <button routerLink="/user-dasboard_cli/carrito" mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Carta</span>
        </button>
        <button routerLink="/user-dasboard_cli/myOrders" mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Mis Productos</span>
        </button>
        <!-- Agrega más elementos del menú si es necesario -->
      </mat-menu>
      <button mat-list-item routerLink = "/user-dasboard_cli/chat">
        <mat-icon mat-list-icon>chat</mat-icon>Asesoria Medica
      </button>
      <button mat-list-item routerLink = "/user-dasboard_cli/citaCliente">
        <mat-icon mat-list-icon>assignment_ind</mat-icon>Citas Agendadas
      </button>
      <button mat-list-item routerLink = "/user-dasboard_cli/citaCliente">
        <mat-icon mat-list-icon>assignment</mat-icon>Citas En Espera
      </button>
      <button mat-list-item routerLink = "/user-dasboard_cli/citaCliente">
        <mat-icon mat-list-icon>assignment_turned_in</mat-icon>Citas Finalizadas
      </button>
      <button [routerLink] = "'/user-dashboard/'+c.categoriaId" mat-list-item *ngFor = "let c of categorias">
        <mat-icon mat-list-icon>account_circle</mat-icon> {{ c.titulo }}
      </button>
      <button mat-list-item (click) = "logout()">
        <mat-icon mat-list-icon>logout</mat-icon>Salir
      </button>
    </mat-action-list>
  </mat-card>