.product-information {
    font-size: medium;
}

.image-container {
    width: 70%;
    justify-content: center;
    margin-top: 20px;
    margin-left: 750px;
    margin-bottom: 50px;
    position: relative;
}

.product-zoom-image {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}