<mat-card>
  <h1 style="text-align: center;">Creación de nuevo Médico</h1>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Nombre Usuario</mat-label>
          <input matInput placeholder="Ingresa el Nombre Usuario" [(ngModel)]="usuario.username">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Contraseña" [(ngModel)]="usuario.password">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" [(ngModel)]="usuario.nombre">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Apellido</mat-label>
          <input matInput placeholder="Apellido" [(ngModel)]="usuario.apellido">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" [(ngModel)]="usuario.email">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Telefono</mat-label>
          <input matInput placeholder="Telefono" [(ngModel)]="usuario.telefono">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Perfil</mat-label>
          <input matInput placeholder="Perfil" [(ngModel)]="usuario.perfil">
        </mat-form-field>
      
        
        <div class="container text-center">
          <button mat-button color="primary" (click)="aceptar()">
          Aceptar
          </button>
        </div>
      </form>
    </div>
  </div>
</mat-card>

