<mat-card class="mt20">
   <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card-header>
          <mat-card-title>
            <h1 style="text-align: center;">Bienvenido administrador</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-subtitle style="font-weight: bold;">Esta aplicacion ha sido desarrollada para la Administración Y Gestión de Información en una Clínica Médica orientada al sector Odontológico, con un estilo de Gestion ERP para Control del Modelo De Negocio y funcionalidad integradas para Clientes para Servicio hacia estos mismos, asimismo tendrá una adaptabilidad adicional para los Médicos Usuarios de esta aplicacion, para el control y monitoreo de sus Pacientes</mat-card-subtitle>
        <mat-card-content class="ml30">
          <h1></h1>
          <p></p>
          <mat-divider></mat-divider>
          <br>
          <h1 style="text-align: center;">Sus funciones : </h1>
          <ul style="text-align: center;">
            <li style="list-style-type: none;">- Gestionar las	categorías(Servicios)</li>
            <li style="list-style-type: none;">- Gestionar los medicos</li>
            <li style="list-style-type: none;">- Distribuir medicos a distintos Servicios/Departamentos</li>
            <li style="list-style-type: none;">- Gestionar las carrito de Compras/Almacen/Stock</li>
            <!-- <li>Asignar preguntas a cada examen</li> -->
          </ul>
          <mat-divider></mat-divider>
          <br>
        </mat-card-content>
      </div>
    </div>
   </div>
</mat-card>
